MONGO_URI=
DB_DEV_URI=
PORT=4000
SECRET=
CLIENT_URL=https://hubbie-chat.onrender.com
NODE_VERSION=18.15.0
MAIL_USERNAME=lastbenchscholar@gmail.com
MAIL_PASSWORD=

SSO_API_KEY=
SSO_SERVER_URL=http://localhost:5000

JWT_ISSUER=LBS-AUTH-SERVER
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nyour-public-key-here\n-----END PUBLIC KEY-----"
